body{
    margin: 0;
}
.heading{
    padding: 4% 7%;
    background-image: url(images/food_cover.jpg);
}
.heading h2{
    text-align: center;
    color: orange;
}
.discount img{
    width: 50%;
    padding-top:60px ;
    padding-bottom: 60px;
    padding-left: 125px;
    border-radius: 10%;
    

}
.discount-offer h2{
    text-align: center;
    color: red;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    color: gray;
}
h3{
    font-size: 30px;
}
p{
    font-size: 23px;
    font-family: 'Zen Loop', cursive;
    font-weight: 400;
}
.button-design{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
}
.flexible-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.half{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;
}

.text-positioning{
    padding-top: 10px;
    
} 
.section-positioning{
    padding-top: 60px;
    padding-bottom: 45px;
}
.orange-color{
    color: orange;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.about-me img{
    width: 100%;
}
.my-recipies h2,p{
    text-align: center;
}
.recipe-item{
    
    width: 23%;
    padding: 1%;
    margin: 3%;
    border-radius: 25px;
    box-shadow: 10px 10px 40px gray;

}
.recipe-item img{
    width: 100%;
    border-radius: 10px;

    
}
footer{
    height: 200px;
    background-color: black;
}
footer h3{
    text-align: center;
    color: gray;
    font-size: 25px;
    padding-top: 23px;
}
footer p{
    text-align: center;
    color:lightgoldenrodyellow;
}

.navbar{
    background-color: tomato;
    padding: 2% 7%;
    text-align: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
}